[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"psycopg2-binary" = "*"
attrs = "*"
celery = "*"
django = "*"
django-allauth = "*"
django-anymail = {version = "*",extras = ["amazon-ses"]}
django-celery-beat = "*"
django-celery-results = "*"
django-cors-headers = "*"
django-debug-toolbar = "*"
django-environ = "*"
django-filter = "*"
django-log-request-id = "*"
django-oauth-toolkit = "*"
django-ordered-model = "*"
django-otp = "*"
django-ratelimit = "*"
django-recaptcha = "*"
django-redis = "*"
django-safedelete = "*"
django-timezone-field = "*"
django-webpack-loader = "*"
djangorestframework = "*"
drf-extra-fields = "*"
gunicorn = "*"
httpx = "*"
newrelic = "*"
premailer = "*"
pyjwt = "*"
python-json-logger = "*"
redis="*"
setuptools="*"
stripe = "*"
whitenoise = "*"

[dev-packages]
black = "*"
dj-inmemorystorage = "*"
factory-boy = "*"
flake8 = "*"
flake8-django = "*"
freezegun = "*"
respx = "*"

[requires]
python_version = "3.12"
